@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/color' as *;

.videolist {

    @include mobile-padding;
    padding-top: 0;
    
    @include desktop {
        border-left: 1px solid $secondary_mercury;
        padding-top: 1.5rem;
        padding-left: 2rem;
    }

    &__title {
        text-transform: uppercase;
        color: $primary-silver;
    }
}