@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/color' as *;

.channelinfo {
    
    @include mobile-padding;

    @include tablet {
        @include tablet-padding;
    }

    @include desktop {
        padding-right: 0;
    }


    &__title { 
        font-weight: 500;
        padding-bottom: 1rem;

        @include tablet {
            font-weight: 700;
        }

    }

    &__container {
        @include divider;
        padding-top: 1rem;
        display: flex;

        @include tablet {
            justify-content: space-between;
            border-top: none;
            padding-top: 0;
        }

    }
    &__left {
        
        @include tablet {
            @include align-horizontal;
        }
        @include desktop {
            justify-content: unset;
        }
    }
    &__right {
        margin-left: 3rem;

        @include tablet {
            @include align-horizontal;;
        }

        @include desktop {
            margin-right: 1.5rem;
        }

        &-box {
            display: flex;
            align-items: baseline;
        }
    }
    
    &__detail {
        color: $primary_silver;
        padding-bottom: 1rem;

        @include tablet {
            font-size: 0.7rem;
            padding-bottom: 0.5rem;
            margin-right: 2rem;
        }

        &--bold {
            color: $primary_brainflix-black;
            font-weight: 700;

            @include tablet {
                font-size: 0.875rem;
            }
        }
    }

    &__icon {
        padding-right: 1rem;
    }
    
}

.description {
    padding-top: 1rem;

    @include tablet {
        padding-top: 1.5rem;
    }

    @include desktop {
        padding-right:1.5rem;
    }
}