$primary_brainflix-black: #323232;
$primary_brainflix-blue: #0095FF;
$primary_silver: #afafaf;
$primary_white: #ffffff;

$secondary_brainflix-darkblack: #000000;
$secondary_brainflix-darkblue: #0065ad;
$secondary_mercury: #e1e1e1;
$secondary_alabaster: #fafafa;

$error: #D22D2D;