@use '../partials/color' as *;

@mixin tablet {
    @media (min-width:48rem) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 80rem){
        @content;
    }
}

@mixin mobile-padding {
    padding: 1rem;
}

@mixin tablet-padding {
    padding: 1.5rem;
}

// @mixin desktop-padding {
//     padding: 3rem 6rem;    
// }

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin profile-photo {
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
    object-position: left;
    border-radius: 50%;

    @include tablet {
        width: 3rem;
        height: 3rem;
    }
}

@mixin boxes-border {
    border: 1px solid $secondary_mercury;
    border-radius: 4px;    
};

@mixin button-reset {
    border: none;
    background-color: transparent;
    
}

