@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/color' as *;

.comment {

    &__container {
        display: flex;
        justify-content: center;
        @include divider;
        border-top: none;
        padding: 1rem 0;

    }

    &__number {
        font-weight: 700;
    }

    &__form {
        @include flex-column;

        @include tablet {
            flex-direction: row;
            align-items: center;
            width: 100%;
        }

        @include desktop {
            padding-right: 1.5rem;
        }
    }

    &__profile-img {
        @include profile-photo;
        margin: 1.2rem 1rem 0 0;
    }

    &__label {
        @include form-label-format;

        @include tablet {
            flex-grow: 1;
        }
    }

    &__input {
        @include form-input-format;
        @include form-input-large;
        


        @include tablet {
            height: 2.5rem;
        }
    }
}
