@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/color' as *;

.comment {

    &__container {
        display: flex;
        justify-content: center;
        @include divider;
        border-top: none;
        padding: 1rem 0;

    }

    &__number {
        font-weight: 700;
    }

    &__form {
        @include flex-column;

        @include tablet {
            flex-direction: row;
            align-items: center;
            width: 100%;
        }

        @include desktop {
            padding-right: 1.5rem;
        }
    }

    &__profile-img {
        @include profile-photo;
        margin: 1.2rem 1rem 0 0;
    }

    &__label {
        color: $primary_silver;
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 700;
        margin-bottom: 1rem;

        @include tablet {
            flex-grow: 1;
        }
    }

    &__input {
        border-radius: 4px;
        padding: 0.75rem;
        width: 100%;
        height: 6rem;
        background-color: $secondary_alabaster;
        border: 1px solid $secondary_mercury;
        font-family: "AvenirNext LT Pro";
        margin-top: 0.5rem;

        @include tablet {
            height: 2.5rem;
        }
    }
}

.button__container {

    @include tablet {
        height: 2.5rem;
        width: 25%;
    }
}