@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/color' as *;


.brainflix-logo {
    background-color: $primary_white;
    max-width: 7.5rem;
    max-height: 1.5625rem;
}

.header {

    @include flex-column;
    @include mobile-padding;
    align-items: center;

    @include tablet {
        flex-direction: row;
        padding: 1rem 2rem;
    }

    @include desktop {
        justify-content: space-evenly;
        @include mobile-padding;
    }

    &__container {
        @include flex-column;
        width: 100%;

        @include  tablet {
            flex-direction: row;
            justify-content: flex-end;
        }

        @include desktop {
            width: 70%;
        }

    }

    &__search{

        &-container {
            display: flex;
            margin: 1rem 0;
            width: 100%;

            @include tablet {
                width: 50%;
                margin: 0;
            }

            @include desktop {
                width: 30%;
            }
        }
        &-bar {
            @include boxes-border;
            background-color: $secondary_alabaster;
            padding: 0.5rem;
            display: flex;
            flex-grow: 1;

        }
    
        &-img {
            @include profile-photo;
            margin-left: 1rem;

            @include tablet {
                display: none;
            }

            &--tablet {
                display: none;

                @include tablet {
                    display: flex;
                }

                @include desktop {
                    margin-left: 2rem;
                }
            }

        }

        &-icon {
            width: 1rem;
        }

        &-input{
            @include button-reset;
            font-size: 0.7rem;
            color: $primary_brainflix-black;
            margin-left: 0.5rem;

        }
    }

}
