@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/color' as *;

.videoplayer{
    
    &__container {
        background-color: black;
        display: flex;
        justify-content: center;
    }

    &__video {
        width: 100%;
        max-height: 12rem;

        @include tablet {
            max-height: 24rem;
        }

        @include desktop {
            width: 70%;
            max-height: 30rem;
        }
    }

}