@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/color' as *;

.uploadcomplete {

    &__container {
        @include divider;
        @include flex-column;
        align-items: center;
        padding: 1rem;
        border-bottom: none;
    }

    &__text {
        font-size: 1.5rem;
        margin: 1rem 0;
    }

}
