@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/color' as *;

.comment {
    &__container {
        @include divider;
        border-top: none;
        display: flex;
        padding: 0.5rem 0;

        @include tablet {
            padding: 1rem 0;
        }

        @include desktop {
            @include divider;
            border-bottom: none;
        }
    }

    &__photo-holder {
        @include profile-photo;
        background-color: $secondary_mercury;
        min-width: 2.25rem;
        margin: 1.2rem 1rem 0 0;
    }

    &__card {
        @include flex-column;
        padding-right: 1.5rem;
        width: 14.75rem;

        @include tablet {
            width: 100%;
        }

        &-detail {
            @include align-horizontal;
            align-items: center;
            margin: 0.5rem 0;
        }
    }

    &__name {
        font-weight: 700;
    }
    &__date {
        color: $primary_silver;
    }

    &__content {
        margin: 0;
    }
}