@use '../src/styles/partials/typography' as *;
@use '../src/styles/partials/color' as *;
@use '../src/styles/partials/mixins' as *;


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext LT Pro";
  margin: 0;
}

.button {
  @include button-reset;
  color: $primary_white;
  text-transform: uppercase;
  font-size: .75rem;

  &--white {
    color: $primary_brainflix-blue;
    padding: 0.5rem;
    margin: 1rem 0;

  }
  
  &__container{
    @include button-reset;
    @include boxes-border;
    background-color: $primary_brainflix-blue;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    position: relative;

    @include tablet {
        width: 20%;
        height: 2.5rem;
        margin-left: 1rem;
    }

    @include desktop {
      width: 17%;
    }


  }


  &__upload-icon {
      width: 1.2rem;
      position: absolute;
      left: 0.5rem;
  }

  &__add-icon{
      @extend .button__upload-icon;
      left: 0.2rem;
  }

  &__publish-icon {
    @extend .button__upload-icon;
  }

  
}
.container {
  @include desktop {
    display: flex;
    justify-content: center;
    padding: 1rem 3rem;
  }

  &__aboutvideo {
    @include desktop {
      width: 65vw;
    }
  }



}


