@use '../src/styles/partials/typography' as *;
@use '../src/styles/partials/color' as *;
@use '../src/styles/partials/mixins' as *;


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext LT Pro";
  margin: 0;
}

.button {
  @include button-reset;
  color: $primary_white;
  text-transform: uppercase;
  font-size: .75rem;
  cursor: pointer;

  &--like {
    @include button-reset;
    cursor: pointer;
  }

  &--white {
    color: $primary_brainflix-blue;
    padding: 0.5rem;
    width: 100%;
    margin: 1rem 0;

    @include tablet {
      width: 20%;
      height: 2.5rem;
      margin: 0;
    }

  }
  
  &__container{
    @include button-reset;
    border-radius: 4px;
    background-color: $primary_brainflix-blue;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: $secondary_brainflix-darkblue;
    }

    @include tablet {
        width: 20%;
        height: 2.5rem;
        margin-left: 1rem;
    }

    @include desktop {
      width: 17%;
    }

  &--small {
    width: 30%;
  }


  }


  &__upload-icon {
      width: 1.2rem;
      position: absolute;
      left: 0.5rem;
  }

  &__add-icon{
      @extend .button__upload-icon;
      left: 0.2rem;
  }

  &__publish-icon {
    @extend .button__upload-icon;
  }

}


